[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
alibabacloud-cloudapi20160714 = "==2.2.20"

[dev-packages]

[requires]
python_version = "3.11"
